.background {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
      url(../assets//images//HomepageBanner.jpg);
    /* background-image: url(../assets/img/icons/slideshow/171170.jpg); */
    background-size: cover !important;
    background-position: center !important;
  }
  
/* Slideshow start */
.background .hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .background .hero .slideshow {
    margin-top: 10vh;
    width: auto;
    padding: 1em 0;
    height: 300px;
    position: relative;
    background-color: rgba(17, 17, 17, 0.8);
  
    backdrop-filter: blur(2px);
  }
  .slideshow .moving {
    padding: 1.5em 250px;
    border-top: 10px dashed green;
    border-bottom: 10px dashed green;
    height: 100%;
    display: flex;
    justify-content: start;
    position: relative;
    right: 0;
    transition: 0.5s ease all;
  }
  .moving.forward-1 {
    right: -350px !important;
  }
  .moving.forward-2 {
    right: -700px !important;
  }
  .moving.backward-1 {
    right: 350px !important;
  }
  .moving.backward-2 {
    right: 700px !important;
  }
  .slide-box {
    width: 350px;
    margin: 0 1em;
    position: relative;
    font-family: primaryFont;
  }
  .slide-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease all;
    filter: contrast(120%);
  }
  .slider-command {
    position: absolute;
    color: #fff;
    left: 50%;
    bottom: -4em;
    transform: translate(-50%);
  }
  .slider-btn {
    padding: 1em 2em;
    cursor: pointer;
    outline: none;
    border: 0;
  
    color: #fff;
    transition: 0.1s ease all;
  }
  
  .slider-btn i {
    font-size: 1.5em;
    display: inline-block;
    transform: scale(1.5);
  }
  .slider-btn:active {
    filter: brightness(60%);
  }
  .slider-btn:first-child i {
    transform: scale(1.5) scaleX(-1);
  }
  .slider-btn:first-child {
    transition: 0.2s ease all;
  
    margin-right: -6px;
    background-color: transparent;
    border: 2px solid green;
  }
  .slider-btn:last-child {
    transition: 0.2s ease all;
    background-color: transparent;
    border: 2px solid green;
  }
  .slider-btn:first-child:hover {
    background: green;
  }
  .slider-btn:last-child:hover {
    background: green;
  }
  .slide-box-text {
    color: #fff;
    position: absolute;
    font-size: 1.3em;
    top: 60%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease all;
    text-align: center;
  }
  .slide-box:hover .slide-box-text {
    opacity: 1;
    top: 50%;
  }
  .slide-box:hover img {
    filter: contrast(120%) brightness(30%);
  }
  /* Slideshow end */